*{
    box-sizing: border-box;    
}

:root {
 --primary: rgb(31, 81, 175);
 --secondary: rgb(0, 195, 255);
 --tertiary: rgb(0, 0, 0);
 --dark: rgba(23, 32, 42);
 --light: rgba(253, 254, 254);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New bold', 'Consolas', "Lucida Sans Typewriter", 'Monaco', 'Andale Mono';
    color: var(--primary);
    background: hsla(64, 41%, 92%, 1);
    background: linear-gradient(90deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2F3E2", endColorstr="#B2E5F8", GradientType=1 );
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    margin: 0;
}

header {
    padding:10px 8% 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px  rgba(124, 166, 200);
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 5vw;
    line-height: 1;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration:none;
    padding: 5px 10px;
    color: var(--secondary);
    Margin-right: 10px;
    background-image: linear-gradient(280deg, var(--secondary) 0%, var(--secondary) 100% );
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

nav a:last-child{
    margin-right: 0;
}

main{
    margin-top: 25px;
    margin-bottom: 40px;
}

.hero-banner{
    background-image: url("./Images/coding-banner.jpeg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
    background-size: cover;
    background-blend-mode: normal;
    min-height: 30vh;
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    opacity: 2.0;
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    color:rgb(247, 5, 255);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.0rem;
    font-weight: bolder;
    line-height: 1.5;
    display: inline;
}

.page-wrapper {
    background-repeat: no-repeat;
    background-size: 150px 250px;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 20px;
    border-right: 6px solid var(--primary);
    font-size: 5vw;
    line-height: 1.2;
}


.page-section > div {
    flex: 0 0 75%;
}

.page-section p {
    margin-bottom: 20px;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 88%;
}

.flex-item {
    border: 5px solid var(--secondary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover{
    background-color: rgb(14, 212, 238);
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary)100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover {
    background-size: 100% 88%;
    color: var(--secondary);
}

 @media screen and (max-width: 980px) {
     header{
         padding: 0 0 10px 0;
         justify-content: center;
         text-align: center
     }
     header h1 {
         justify-content: center;
     }
      .page-section > h2
      .page-section > div{
          flex: 0 0 100%;
      }
      .page-section > h2 {
          border-right: none;
          border-bottom: 4px dotted var(--primary);
          margin-bottom: 20px;
          padding-bottom: 10px;
          text-align: left;
          font-size: 7vw;
      }
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  .Unit {
    background-image: url("./Images/unit1.png");
  }
  
  .pass {
    background-image: url("./Images/pass.png");
  }
  
  .day {
    background-image: url("./Images/DPdemo.gif");
  }
  
  .Ask_Oracle {
    background-image: url("./Images/Askoracle.gif");
  }
  
  .Team {
    background-image: url("./Images/team.gif");
  }

  .noteTaker {
    background-image: url("./Images/ntd.gif");
  }

  .Vibez {
    background-image: url("./Images/vibez-logo.png");
  }

  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }